html, body {
	position: relative;
	height: 100%;
}
.swiper-container {
	max-width: 10rem;
	width: 100%;
	height: 100%;
}
.swiper-slide {
	position: relative;
	text-align: center;
	font-size: 18px;
	background: #fff;
	
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	
	/* 禁止溢出 */
	overflow: hidden;
}
.slide-button-wrap {
	position: absolute;
	bottom: 0.4rem;
	left: 50%;
	width: 0.64rem;
	height: 0.4rem;
	margin-left: -0.32rem;
	z-index: 2;
}
.slide-button-wrap .button-wrap {
	position: relative;
	width: 0.64rem;
	height: 0.4rem;
	-webkit-animation: slideFadeOut 2s infinite ease-in-out;
	animation: slideFadeOut 2s infinite ease-in-out;
}
.slide-button-wrap .button-wrap .left-wrap,
.slide-button-wrap .button-wrap .right-wrap {
	float: left;
	position: relative;
	margin-top: -0.02rem;
	width: 0.32rem;
	height: 0.44rem;
	overflow: hidden;
}
.slide-button-wrap .button-wrap i {
	position: absolute;
	top: 0.16rem;
	width: 0.32rem;
	height: 0.12rem;
	background-color: #fff;
	border-radius: 0.06rem;
	/* border: 0.03rem solid #999; */
}
.slide-button-wrap .button-wrap.gray i {
	background-color: #999;
}
.slide-button-wrap .button-wrap .left-wrap i {
    left: 0.12rem;
    transform: rotate(130deg);
    -webkit-transform: rotate(130deg);
	/* border-bottom: none;
	box-shadow: 0 0.03rem 0.03rem #999; */
}
.slide-button-wrap .button-wrap .right-wrap i {
    left: -0.09rem;
    -webkit-transform: rotate(50deg);
    transform: rotate(50deg);
	/* border-top: none;
	box-shadow: 0 -0.03rem 0.03rem #999; */
}

.bg-ec6c0e {
	background: #ec6c0e;
}
.swiper-slide .bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 10rem;
	z-index: 1;
}
.swiper-slide img.bg1 {
	height: 14.96rem;
}
.swiper-slide img.bg2,
.swiper-slide img.bg3 {
	height: 8.36rem;
}
.swiper-slide img.bg4 {
	height: 100%;
}
.swiper-slide .logo {
	position: absolute;
	width: 5.16rem;
	height: 0.56rem;
	z-index: 2;
}
.swiper-slide .logo1 {
	top: 0.68rem;
	left: 0.56rem;
}
.swiper-slide .logo2 {
	right: 0.8rem;
	bottom: 0.8rem;
}
.swiper-slide .user-infomation {
	position: absolute;
	top: 7.36rem;
	left: 0.8rem;
	text-align: left;
	z-index: 2;
} 
.user-infomation .avatar {
	margin-left: -0.24rem;
	width: 2.16rem;
	height: 2.16rem;
}
.user-infomation h2 {
	margin-top: 0.48rem;
	font-size: 0.72rem;
	line-height: 1;
	letter-spacing: 0.14rem;
	color: #fff;
}
.user-infomation .line {
	margin-top: 0.8rem;
	width: 0.8rem;
	height: 0.04rem;
	background: #fff;
}
.user-infomation .position,
.user-infomation .tel {
	margin-top: 0.44rem;
	font-size: 0.36rem;
	font-weight: 400;
	color: #fff;
}
.user-infomation .tel {
	margin-top: 0.32rem;
	font-weight: 600;
}
.company-infomation {
	position: absolute;
	width: 10rem;
	height: 3rem;
	left: 0;
	bottom: 0;
	z-index: 2;
}
.company-infomation .logos {
	position: absolute;
	width: 5.88rem;
	height: 0.84rem;
	left: 0.56rem;
	bottom: 0.6rem;
}
.company-infomation .qrcode {
	position: absolute;
	width: 1.36rem;
	height: 1.36rem;
	right: 0.56rem;
	bottom: 0.56rem;
}
.company-details {
	position: absolute;
	top: 8.36rem;
	left: 0;
	padding: 0.64rem 0.96rem 0;
	width: 10rem;
	text-align: left;
}
.company-details h3,
.company-details h4 {
	display: inline-block;
	height: 0.96rem;
	line-height: 0.96rem;
	border-bottom: 0.02rem solid #fff;
	font-size: 14px;
	color: #fff;
	white-space: nowrap;
}
.company-details h3 em {
	font-size: 11px;
	font-weight: 400;
}
.company-details h4 {
	border: none;
	font-size: 12px;
}
.company-details p {
	margin-top: 0.92rem;
	font-size: 0.52rem;
	color: #fff;
}
.company-details p b {
	font-size: 0.88rem;
}
.company-details p i {
	display: inline-block;
	vertical-align: baseline;
	font-size: 0.54rem;
	font-weight: 600;
	margin-right: 0.32rem;
}
.company-details p i.icon {
	display: inline-block;
	width: 0.52rem;
	height: 0.52rem;
	margin-left: 0.12rem;
}
.company-details p i.icon1 {
	background: url(../img/icon1.png) no-repeat center;
	background-size: 0.52rem;
}
.company-details p i.icon2 {
	background: url(../img/icon2.png) no-repeat center;
	background-size: 0.52rem;
}
.swiper-slide .company-img-wrap {
	position: absolute;
	width: 8.52rem;
	height: 6.4rem;
	top: 9rem;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.swiper-slide .company-img-wrap img {
	width: 100%;
	height: 100%;
}
.swiper-slide .logob {
	position: absolute;
	top: 2.52rem;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 8.16rem;
	height: 0.92rem;
	z-index: 2;
}
.qrcode-wrap {
	position: absolute;
	top: 3.6rem;
	left: 0;
	width: 100%;
	z-index: 2;
}
.qrcode-wrap .qrcode2 {
	margin-top: 3.2rem;
	width: 2.44rem;
	height: 2.44rem;
	margin-bottom: 0.56rem;
}
.qrcode-wrap p {
	font-size: 0
}
.qrcode-wrap p i {
	display: inline-block;
	vertical-align: middle;
	width: 0.4rem;
	height: 0.4rem;
	margin-right: 0.24rem;
}
.qrcode-wrap p i.telPhone {
	background: url(../img/icon3.png) no-repeat center;
	background-size: 0.4rem;
}
.qrcode-wrap p i.href {
	background: url(../img/icon4.png) no-repeat center;
	background-size: 0.4rem;
}
.qrcode-wrap p span {
	display: inline-block;
	vertical-align: middle;
	font-size: 0.4rem;
	color: #fff;
	height: 0.92rem;
	line-height: 0.92rem;
}
.qrcode-wrap h4 {
	margin-top: 0.8rem;
	display: inline-block;
	height: 0.96rem;
	line-height: 0.96rem;
	border-top: 0.02rem solid #fff;
	font-size: 12px;
	color: #fff;
	white-space: nowrap;
}
.bottom-logos {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 1.2rem;
	width: 5.88rem;
	height: 0.84rem;
	margin: 0 auto;
	z-index: 2;
}

/* 动画效果 */
/* 起始动画 */
.swiper-slide .logob,
.swiper-slide .logo,
.swiper-slide .bg {
	transform: translateY(-100%);
	opacity:0;
	transition: all .8s;
}
.swiper-slide .bg4 {
	transition: all .4s;
}
.swiper-slide p {
	transform: translateX(-100%) skewX(-60deg);
	opacity: 0;
	transition: all 1s ease;
}
.swiper-slide .avatar {
	transform: rotate(-180deg);
	opacity: 0;
	transition: all .8s;
}
.swiper-slide h2,
.swiper-slide h3,
.swiper-slide h4 {
	transform: translateX(100%);
	opacity:0;
	transition: all .8s;
}
.swiper-slide .line {
	opacity:0;
	transition: all 1.5s;
}
.swiper-slide .company-img-wrap {
	transform: rotateY(90deg);
	opacity: 0;
	transition: all .5s ease-in;
}
.swiper-slide .qrcode2 {
	opacity: 0;
	transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
	transition: all 1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.swiper-slide .company-infomation,
.swiper-slide .bottom-logos {
	opacity: 0;
}

/* 结果动画 */
.ani-slide .logob,
.ani-slide .logo,
.ani-slide .bg {
	transform: translateY(0);
	opacity: 1;
}
.ani-slide p,
.ani-slide h2,
.ani-slide h3,
.ani-slide h4 {
	transform: translateX(0) skewX(0);
	opacity: 1;
}
.ani-slide .avatar {
	transform: rotate(0);
	opacity: 1;
}
.ani-slide .line {
	opacity: 1;
}
.ani-slide .company-img-wrap {
	transform: perspective(400px) rotateY(0deg);
	opacity: 1;
}
.ani-slide .qrcode2 {
	opacity: 1;
	transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, -360deg);
}
.ani-slide .company-infomation,
.ani-slide .bottom-logos {
	-webkit-animation: flash 1s ease;
			animation: flash 1s ease;
	opacity: 1;
}